.input {
  background-color: #040506;
  opacity: 0.9;
  width: 980px;
  z-index: 100;
  height: 68px;
  border: none;
  padding-left: 10px;
  color: white;
  position: absolute;
  top: 0;
  right: 100%;
  outline: none;
  height: 100%;
}

@media (min-width: 1601px) {
  .input {
    width: 980px;
  }
}

@media (max-width: 1600px) {
  .input {
    width: 920px;
  }
}

@media (min-width: 1801px) {
  .input {
    width: 1000px;
  }
}

@media (min-width: 1800px) {
  .input {
    width: 920px;
  }
}
