.container {
  display: flex;
  height: 100%;
  background-color: #11171e;
  border-bottom: 2px solid #1e242c;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px 30px 15px;
}
