.single-card {
  height: 280px;
  width: 200px;
  cursor: pointer;
  margin-top: 40px;
  position: relative;
}

.onHover {
  display: none;
  z-index: 2;
}

.single-card:hover .onHover {
  display: block;
}

.card-image {
  height: 280px;
  width: 180px;
  border-radius: 7px;
  position: relative;
}

.card-image:hover {
  opacity: 0.5;
}
