.single-card {
  height: 280px;
  width: 200px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onHover {
  display: none;
  z-index: 2;
}

.single-card:hover .onHover {
  display: block;
}

.card-image {
  height: 280px;
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.single-card::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
}

.single-card:hover::before {
  display: block;
}
