.header_container {
  background-color: #1e242c;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header_inner_container {
  width: 70%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
  padding-left: 15px;
}

.logo_img {
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.ul_list {
  display: flex;
  position: absolute;
  top: 10px;
  left: 630px;
}

.list_item {
  margin-right: 50px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.list_item:hover {
  color: #86c8eb;
}

@media (min-width: 1601px) {
  .header_inner_container {
    width: 70%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 15px;
  }
  .ul_list {
    display: flex;
    position: absolute;
    top: 10px;
    left: 630px;
  }
}

@media (max-width: 1700px) {
  .header_inner_container {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
  }
  .ul_list {
    display: flex;
    position: absolute;
    top: 10px;
    transform: translateX(-45%);
  }
}
