.header_container {
  background-color: #1e242c;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header_inner_container {
  width: 70%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
  padding-left: 15px;
}

.logo_img {
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.ul_list {
  display: flex;
}

.header_navbar_list {
  cursor: pointer;
  transition-duration: 0.3s;
  list-style: none;
  position: relative;
  padding: 20px;
}

.header_navbar_list:hover .movies-popup-box {
  display: block;
}

.header_navbar_list a {
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
}

.header_navbar_list a:hover {
  color: #86c8eb;
}

.icon_style {
  padding: 0px;
  margin: 0px 5px 0px 0px;
  background: none;
  height: 15px;
  width: 15px;
}

@media (min-width: 1601px) {
  .header_inner_container {
    width: 70%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 15px;
  }
  .ul_list {
    display: flex;
    top: 10px;
    left: 630px;
  }
}

@media (max-width: 1700px) {
  .header_inner_container {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
  }
}
