@font-face {
  font-family: "BPG Banner Caps";
  src: url("./fonts/bpg-banner-caps-webfont.ttf");
}

body {
  margin: 0;
  margin-top: 70px;
}

* {
  font-family: "BPG Banner Caps";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
